In [991]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

Concatenate the dataframes of train.csv and test.csv

In [992]:
df_train = pd.read_csv('../data/row/train.csv')
df_test = pd.read_csv('../data/row/test.csv')

df = pd.concat([df_train, df_test], ignore_index=True)

df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12965,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter,NaN
12966,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron,NaN
12967,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore,NaN
12968,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale,NaN
12969,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley,NaN

Dropping the 'Name' column

In [994]:
df.drop('Name', axis='columns', inplace=True)

df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12965,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,NaN
12966,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,NaN
12967,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,NaN
12968,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,NaN
12969,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,NaN

Breaking the 'Cabin' column into 3 parts using the separtor "/" and deleting the 'CabinNumber' column as it is not needed

In [995]:
df[['CabinDeck', 'CabinNumber', 'CabinSide']] = df.Cabin.str.split(pat='/', expand=True)

df.drop(['Cabin', 'CabinNumber'], axis=1, inplace=True)

df

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,CabinDeck,CabinSide
0,0001_01,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False,B,P
1,0002_01,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True,F,S
2,0003_01,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,A,S
3,0003_02,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,A,S
4,0004_01,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True,F,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12965,9266_02,Earth,True,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,NaN,G,S
12966,9269_01,Earth,False,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,NaN,NaN,NaN
12967,9271_01,Mars,True,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,NaN,D,P
12968,9273_01,Europa,False,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,NaN,D,P
12969,9277_01,Earth,True,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,NaN,G,S

Separate the column 'PassengerId' into 'PassengerGroup' and 'PassengerGroupId' with '_' separator, and then delete the 'PassengerGroupId' and 'PassengerId'

In [996]:
df[['PassengerGroup', 'PassengerGroupNumber']] = df.PassengerId.str.split(pat='_', expand=True)
df.drop(['PassengerId', 'PassengerGroupNumber'], axis=1, inplace=True)

df

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,CabinDeck,CabinSide,PassengerGroup
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False,B,P,0001
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True,F,S,0002
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,A,S,0003
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,A,S,0003
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True,F,S,0004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12965,Earth,True,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,NaN,G,S,9266
12966,Earth,False,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,NaN,NaN,NaN,9269
12967,Mars,True,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,NaN,D,P,9271
12968,Europa,False,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,NaN,D,P,9273
12969,Earth,True,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,NaN,G,S,9277

In [997]:
df.columns

Index(['HomePlanet', 'CryoSleep', 'Destination', 'Age', 'VIP', 'RoomService',
       'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Transported',
       'CabinDeck', 'CabinSide', 'PassengerGroup'],
      dtype='object')

In [998]:
df

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,CabinDeck,CabinSide,PassengerGroup
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False,B,P,0001
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True,F,S,0002
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False,A,S,0003
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False,A,S,0003
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True,F,S,0004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12965,Earth,True,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,NaN,G,S,9266
12966,Earth,False,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,NaN,NaN,NaN,9269
12967,Mars,True,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,NaN,D,P,9271
12968,Europa,False,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,NaN,D,P,9273
12969,Earth,True,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,NaN,G,S,9277

Summing all the 5 spent columns into a new column 'MoneySpent' and then deleting these 5

In [999]:
columns_to_remove = ['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']

df['MoneySpent'] = df[columns_to_remove].sum(axis=1)

df.drop(columns=columns_to_remove, inplace=True)

df

,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,CabinDeck,CabinSide,PassengerGroup,MoneySpent
0,Europa,False,TRAPPIST-1e,39.0,False,False,B,P,0001,0.0
1,Earth,False,TRAPPIST-1e,24.0,False,True,F,S,0002,736.0
2,Europa,False,TRAPPIST-1e,58.0,True,False,A,S,0003,10383.0
3,Europa,False,TRAPPIST-1e,33.0,False,False,A,S,0003,5176.0
4,Earth,False,TRAPPIST-1e,16.0,False,True,F,S,0004,1091.0
...,...,...,...,...,...,...,...,...,...,...
12965,Earth,True,TRAPPIST-1e,34.0,False,NaN,G,S,9266,0.0
12966,Earth,False,TRAPPIST-1e,42.0,False,NaN,NaN,NaN,9269,1018.0
12967,Mars,True,55 Cancri e,NaN,False,NaN,D,P,9271,0.0
12968,Europa,False,NaN,NaN,False,NaN,D,P,9273,3203.0
12969,Earth,True,PSO J318.5-22,43.0,False,NaN,G,S,9277,0.0

Create a new column 'CryoSleepValueAvail' and add TRUE if 'CryoSleep' value is available otherwise FALSE

In [1000]:
df['CryoSleepValueAvail'] = df['CryoSleep'].notna()

df

,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,CabinDeck,CabinSide,PassengerGroup,MoneySpent,CryoSleepValueAvail
0,Europa,False,TRAPPIST-1e,39.0,False,False,B,P,0001,0.0,True
1,Earth,False,TRAPPIST-1e,24.0,False,True,F,S,0002,736.0,True
2,Europa,False,TRAPPIST-1e,58.0,True,False,A,S,0003,10383.0,True
3,Europa,False,TRAPPIST-1e,33.0,False,False,A,S,0003,5176.0,True
4,Earth,False,TRAPPIST-1e,16.0,False,True,F,S,0004,1091.0,True
...,...,...,...,...,...,...,...,...,...,...,...
12965,Earth,True,TRAPPIST-1e,34.0,False,NaN,G,S,9266,0.0,True
12966,Earth,False,TRAPPIST-1e,42.0,False,NaN,NaN,NaN,9269,1018.0,True
12967,Mars,True,55 Cancri e,NaN,False,NaN,D,P,9271,0.0,True
12968,Europa,False,NaN,NaN,False,NaN,D,P,9273,3203.0,True
12969,Earth,True,PSO J318.5-22,43.0,False,NaN,G,S,9277,0.0,True

Checking if the above formula has worked

In [1001]:
df[df['CryoSleep'].isna()]

,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,CabinDeck,CabinSide,PassengerGroup,MoneySpent,CryoSleepValueAvail
92,Earth,NaN,TRAPPIST-1e,2.0,False,True,G,P,0099,0.0,False
98,Earth,NaN,TRAPPIST-1e,27.0,False,False,F,P,0105,703.0,False
104,Europa,NaN,TRAPPIST-1e,40.0,False,False,B,P,0110,2018.0,False
111,Mars,NaN,TRAPPIST-1e,26.0,False,True,F,P,0115,0.0,False
152,Earth,NaN,TRAPPIST-1e,58.0,False,True,E,S,0173,990.0,False
...,...,...,...,...,...,...,...,...,...,...,...
12688,Mars,NaN,55 Cancri e,20.0,False,NaN,F,P,8705,0.0,False
12801,Europa,NaN,TRAPPIST-1e,27.0,False,NaN,C,P,8925,4790.0,False
12902,Europa,NaN,TRAPPIST-1e,41.0,False,NaN,NaN,NaN,9138,3888.0,False
12923,Earth,NaN,TRAPPIST-1e,14.0,False,NaN,F,S,9182,1406.0,False
12932,Europa,NaN,55 Cancri e,32.0,False,NaN,B,S,9206,0.0,False

Fill Missing Values with FALSE in columns 'CryoSleep' and 'VIP', pd.set_option() is to avoid FutureWarning and astype(bool) is to make sure the filled values are in bool type

In [1002]:
pd.set_option('future.no_silent_downcasting', True)

df[['CryoSleep', 'VIP']] = df[['CryoSleep', 'VIP']].fillna(False).astype(bool)

df

,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,CabinDeck,CabinSide,PassengerGroup,MoneySpent,CryoSleepValueAvail
0,Europa,False,TRAPPIST-1e,39.0,False,False,B,P,0001,0.0,True
1,Earth,False,TRAPPIST-1e,24.0,False,True,F,S,0002,736.0,True
2,Europa,False,TRAPPIST-1e,58.0,True,False,A,S,0003,10383.0,True
3,Europa,False,TRAPPIST-1e,33.0,False,False,A,S,0003,5176.0,True
4,Earth,False,TRAPPIST-1e,16.0,False,True,F,S,0004,1091.0,True
...,...,...,...,...,...,...,...,...,...,...,...
12965,Earth,True,TRAPPIST-1e,34.0,False,NaN,G,S,9266,0.0,True
12966,Earth,False,TRAPPIST-1e,42.0,False,NaN,NaN,NaN,9269,1018.0,True
12967,Mars,True,55 Cancri e,NaN,False,NaN,D,P,9271,0.0,True
12968,Europa,False,NaN,NaN,False,NaN,D,P,9273,3203.0,True
12969,Earth,True,PSO J318.5-22,43.0,False,NaN,G,S,9277,0.0,True

Add a new column 'HomePlanetValueAvail' and add TRUE if 'HomePlanet' value is available otherwise FALSE, also fill missing values of 'HomePlanet' with 'Europa'

In [1003]:
df['HomePlanetValueAvail'] = df.HomePlanet.notna()
df.HomePlanet = df.HomePlanet.fillna('Europa').astype(str)

df

,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,CabinDeck,CabinSide,PassengerGroup,MoneySpent,CryoSleepValueAvail,HomePlanetValueAvail
0,Europa,False,TRAPPIST-1e,39.0,False,False,B,P,0001,0.0,True,True
1,Earth,False,TRAPPIST-1e,24.0,False,True,F,S,0002,736.0,True,True
2,Europa,False,TRAPPIST-1e,58.0,True,False,A,S,0003,10383.0,True,True
3,Europa,False,TRAPPIST-1e,33.0,False,False,A,S,0003,5176.0,True,True
4,Earth,False,TRAPPIST-1e,16.0,False,True,F,S,0004,1091.0,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
12965,Earth,True,TRAPPIST-1e,34.0,False,NaN,G,S,9266,0.0,True,True
12966,Earth,False,TRAPPIST-1e,42.0,False,NaN,NaN,NaN,9269,1018.0,True,True
12967,Mars,True,55 Cancri e,NaN,False,NaN,D,P,9271,0.0,True,True
12968,Europa,False,NaN,NaN,False,NaN,D,P,9273,3203.0,True,True
12969,Earth,True,PSO J318.5-22,43.0,False,NaN,G,S,9277,0.0,True,True

Create a new column 'CabinValueAvail' and if value in 'CabinSide' available then TRUE otherwise FALSE

In [1004]:
df['CabinValueAvail'] = df.CabinSide.notna()
df

,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,CabinDeck,CabinSide,PassengerGroup,MoneySpent,CryoSleepValueAvail,HomePlanetValueAvail,CabinValueAvail
0,Europa,False,TRAPPIST-1e,39.0,False,False,B,P,0001,0.0,True,True,True
1,Earth,False,TRAPPIST-1e,24.0,False,True,F,S,0002,736.0,True,True,True
2,Europa,False,TRAPPIST-1e,58.0,True,False,A,S,0003,10383.0,True,True,True
3,Europa,False,TRAPPIST-1e,33.0,False,False,A,S,0003,5176.0,True,True,True
4,Earth,False,TRAPPIST-1e,16.0,False,True,F,S,0004,1091.0,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12965,Earth,True,TRAPPIST-1e,34.0,False,NaN,G,S,9266,0.0,True,True,True
12966,Earth,False,TRAPPIST-1e,42.0,False,NaN,NaN,NaN,9269,1018.0,True,True,False
12967,Mars,True,55 Cancri e,NaN,False,NaN,D,P,9271,0.0,True,True,True
12968,Europa,False,NaN,NaN,False,NaN,D,P,9273,3203.0,True,True,True
12969,Earth,True,PSO J318.5-22,43.0,False,NaN,G,S,9277,0.0,True,True,True

In [1005]:
df.to_csv('../data/processed/before_cabin_fillna.csv', index=False)

We have 3 columns in the df, 'PassengerGroup', 'CabinDeck' and 'CabinSide', there are some missing values in 'CabinDeck' and 'CabinSide' at the same time, and there are some repeating values in 'PassengerGroup', I have assumed that (from the currrent data), the people who have the same 'PassengerGroup' have the higher probability of haveing the same 'CabinDeck' bzw. 'CabinSide' I am filling up the 'CabinDeck' and 'CabinSide' values if the 'PassengerGroup' value is same(duplicated), so for example if 'PassengerGroup': 0003 and 'CabinDeck': A and 'CabinSide': S, then for another occurrence of 0003 should also have 'CabinDeck': A and 'CabinSide': S, where there is no repetition of 'PassengerId', then I am putting 'F' in 'CabinDeck' and 'S' in 'CabinSide', because these values are have most repeatation bzw. Mode

In [1006]:
def fill_missing_values_from_PassengerGroup_to_Cabin(series: pd.Series) -> pd.Series:
    return series.ffill().bfill()

In [1007]:
df.CabinDeck = df.groupby('PassengerGroup')['CabinDeck'].transform(fill_missing_values_from_PassengerGroup_to_Cabin)
df.CabinSide = df.groupby('PassengerGroup')['CabinSide'].transform(fill_missing_values_from_PassengerGroup_to_Cabin)

df.CabinDeck = df.CabinDeck.fillna('F')
df.CabinSide = df.CabinSide.fillna('S')

df

,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,CabinDeck,CabinSide,PassengerGroup,MoneySpent,CryoSleepValueAvail,HomePlanetValueAvail,CabinValueAvail
0,Europa,False,TRAPPIST-1e,39.0,False,False,B,P,0001,0.0,True,True,True
1,Earth,False,TRAPPIST-1e,24.0,False,True,F,S,0002,736.0,True,True,True
2,Europa,False,TRAPPIST-1e,58.0,True,False,A,S,0003,10383.0,True,True,True
3,Europa,False,TRAPPIST-1e,33.0,False,False,A,S,0003,5176.0,True,True,True
4,Earth,False,TRAPPIST-1e,16.0,False,True,F,S,0004,1091.0,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12965,Earth,True,TRAPPIST-1e,34.0,False,NaN,G,S,9266,0.0,True,True,True
12966,Earth,False,TRAPPIST-1e,42.0,False,NaN,F,S,9269,1018.0,True,True,False
12967,Mars,True,55 Cancri e,NaN,False,NaN,D,P,9271,0.0,True,True,True
12968,Europa,False,NaN,NaN,False,NaN,D,P,9273,3203.0,True,True,True
12969,Earth,True,PSO J318.5-22,43.0,False,NaN,G,S,9277,0.0,True,True,True

In [1008]:
df.to_csv('../data/processed/after_cabin_fillna.csv', index=False)

In [1009]:
df.drop('PassengerGroup', axis=1, inplace=True)

df

,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,CabinDeck,CabinSide,MoneySpent,CryoSleepValueAvail,HomePlanetValueAvail,CabinValueAvail
0,Europa,False,TRAPPIST-1e,39.0,False,False,B,P,0.0,True,True,True
1,Earth,False,TRAPPIST-1e,24.0,False,True,F,S,736.0,True,True,True
2,Europa,False,TRAPPIST-1e,58.0,True,False,A,S,10383.0,True,True,True
3,Europa,False,TRAPPIST-1e,33.0,False,False,A,S,5176.0,True,True,True
4,Earth,False,TRAPPIST-1e,16.0,False,True,F,S,1091.0,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
12965,Earth,True,TRAPPIST-1e,34.0,False,NaN,G,S,0.0,True,True,True
12966,Earth,False,TRAPPIST-1e,42.0,False,NaN,F,S,1018.0,True,True,False
12967,Mars,True,55 Cancri e,NaN,False,NaN,D,P,0.0,True,True,True
12968,Europa,False,NaN,NaN,False,NaN,D,P,3203.0,True,True,True
12969,Earth,True,PSO J318.5-22,43.0,False,NaN,G,S,0.0,True,True,True

Fill the missing values of 'Destination' with the most common Destination namely 'TRAPPIST-1e'

In [1010]:
type(df.Destination[0])

str

In [1011]:
df.Destination = df.Destination.fillna('TRAPPIST-1e').astype(str)

df

,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,CabinDeck,CabinSide,MoneySpent,CryoSleepValueAvail,HomePlanetValueAvail,CabinValueAvail
0,Europa,False,TRAPPIST-1e,39.0,False,False,B,P,0.0,True,True,True
1,Earth,False,TRAPPIST-1e,24.0,False,True,F,S,736.0,True,True,True
2,Europa,False,TRAPPIST-1e,58.0,True,False,A,S,10383.0,True,True,True
3,Europa,False,TRAPPIST-1e,33.0,False,False,A,S,5176.0,True,True,True
4,Earth,False,TRAPPIST-1e,16.0,False,True,F,S,1091.0,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
12965,Earth,True,TRAPPIST-1e,34.0,False,NaN,G,S,0.0,True,True,True
12966,Earth,False,TRAPPIST-1e,42.0,False,NaN,F,S,1018.0,True,True,False
12967,Mars,True,55 Cancri e,NaN,False,NaN,D,P,0.0,True,True,True
12968,Europa,False,TRAPPIST-1e,NaN,False,NaN,D,P,3203.0,True,True,True
12969,Earth,True,PSO J318.5-22,43.0,False,NaN,G,S,0.0,True,True,True

In [1012]:
type(df.Age[0])

numpy.float64

In [1013]:
df.Age.median()

np.float64(27.0)

In [1014]:
df.Age = df.Age.fillna(df.Age.median()).astype('float64')

df

,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,CabinDeck,CabinSide,MoneySpent,CryoSleepValueAvail,HomePlanetValueAvail,CabinValueAvail
0,Europa,False,TRAPPIST-1e,39.0,False,False,B,P,0.0,True,True,True
1,Earth,False,TRAPPIST-1e,24.0,False,True,F,S,736.0,True,True,True
2,Europa,False,TRAPPIST-1e,58.0,True,False,A,S,10383.0,True,True,True
3,Europa,False,TRAPPIST-1e,33.0,False,False,A,S,5176.0,True,True,True
4,Earth,False,TRAPPIST-1e,16.0,False,True,F,S,1091.0,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
12965,Earth,True,TRAPPIST-1e,34.0,False,NaN,G,S,0.0,True,True,True
12966,Earth,False,TRAPPIST-1e,42.0,False,NaN,F,S,1018.0,True,True,False
12967,Mars,True,55 Cancri e,27.0,False,NaN,D,P,0.0,True,True,True
12968,Europa,False,TRAPPIST-1e,27.0,False,NaN,D,P,3203.0,True,True,True
12969,Earth,True,PSO J318.5-22,43.0,False,NaN,G,S,0.0,True,True,True

Scaling the values of Age in the range of [0, 1]

In [1015]:
scaler = MinMaxScaler()

df[['Age', 'MoneySpent']] = scaler.fit_transform(df[['Age', 'MoneySpent']])

df

,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,CabinDeck,CabinSide,MoneySpent,CryoSleepValueAvail,HomePlanetValueAvail,CabinValueAvail
0,Europa,False,TRAPPIST-1e,0.493671,False,False,B,P,0.000000,True,True,True
1,Earth,False,TRAPPIST-1e,0.303797,False,True,F,S,0.020452,True,True,True
2,Europa,False,TRAPPIST-1e,0.734177,True,False,A,S,0.288521,True,True,True
3,Europa,False,TRAPPIST-1e,0.417722,False,False,A,S,0.143830,True,True,True
4,Earth,False,TRAPPIST-1e,0.202532,False,True,F,S,0.030317,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
12965,Earth,True,TRAPPIST-1e,0.430380,False,NaN,G,S,0.000000,True,True,True
12966,Earth,False,TRAPPIST-1e,0.531646,False,NaN,F,S,0.028288,True,True,False
12967,Mars,True,55 Cancri e,0.341772,False,NaN,D,P,0.000000,True,True,True
12968,Europa,False,TRAPPIST-1e,0.341772,False,NaN,D,P,0.089004,True,True,True
12969,Earth,True,PSO J318.5-22,0.544304,False,NaN,G,S,0.000000,True,True,True

In [1016]:
df.columns

Index(['HomePlanet', 'CryoSleep', 'Destination', 'Age', 'VIP', 'Transported',
       'CabinDeck', 'CabinSide', 'MoneySpent', 'CryoSleepValueAvail',
       'HomePlanetValueAvail', 'CabinValueAvail'],
      dtype='object')

In [1017]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12970 entries, 0 to 12969
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   HomePlanet            12970 non-null  object
 1   CryoSleep             12970 non-null  bool
 2   Destination           12970 non-null  object
 3   Age                   12970 non-null  float64
 4   VIP                   12970 non-null  bool
 5   Transported           8693 non-null   object
 6   CabinDeck             12970 non-null  object
 7   CabinSide             12970 non-null  object
 8   MoneySpent            12970 non-null  float64
 9   CryoSleepValueAvail   12970 non-null  bool
 10  HomePlanetValueAvail  12970 non-null  bool
 11  CabinValueAvail       12970 non-null  bool
dtypes: bool(5), float64(2), object(5)
memory usage: 772.8+ KB

Convert the TRUE into 1 and FALSE into 0 for columns 'CryoSleep', 'VIP', 'Transported', 'CryoSleepValueAvail', 'HomePlanetValueAvail', 'CabinValueAvail', and for NaN keep NaN (for our Target Column)

In [1018]:
columns_to_convert = ['CryoSleep', 'VIP', 'Transported', 'CryoSleepValueAvail', 'HomePlanetValueAvail', 'CabinValueAvail']

df[columns_to_convert] = df[columns_to_convert].map(lambda x: 1 if x is True else (0 if x is False else x))

df

,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,CabinDeck,CabinSide,MoneySpent,CryoSleepValueAvail,HomePlanetValueAvail,CabinValueAvail
0,Europa,0,TRAPPIST-1e,0.493671,0,0.0,B,P,0.000000,1,1,1
1,Earth,0,TRAPPIST-1e,0.303797,0,1.0,F,S,0.020452,1,1,1
2,Europa,0,TRAPPIST-1e,0.734177,1,0.0,A,S,0.288521,1,1,1
3,Europa,0,TRAPPIST-1e,0.417722,0,0.0,A,S,0.143830,1,1,1
4,Earth,0,TRAPPIST-1e,0.202532,0,1.0,F,S,0.030317,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
12965,Earth,1,TRAPPIST-1e,0.430380,0,NaN,G,S,0.000000,1,1,1
12966,Earth,0,TRAPPIST-1e,0.531646,0,NaN,F,S,0.028288,1,1,0
12967,Mars,1,55 Cancri e,0.341772,0,NaN,D,P,0.000000,1,1,1
12968,Europa,0,TRAPPIST-1e,0.341772,0,NaN,D,P,0.089004,1,1,1
12969,Earth,1,PSO J318.5-22,0.544304,0,NaN,G,S,0.000000,1,1,1

In [1019]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12970 entries, 0 to 12969
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   HomePlanet            12970 non-null  object
 1   CryoSleep             12970 non-null  int64
 2   Destination           12970 non-null  object
 3   Age                   12970 non-null  float64
 4   VIP                   12970 non-null  int64
 5   Transported           8693 non-null   float64
 6   CabinDeck             12970 non-null  object
 7   CabinSide             12970 non-null  object
 8   MoneySpent            12970 non-null  float64
 9   CryoSleepValueAvail   12970 non-null  int64
 10  HomePlanetValueAvail  12970 non-null  int64
 11  CabinValueAvail       12970 non-null  int64
dtypes: float64(3), int64(5), object(4)
memory usage: 1.2+ MB

In [1020]:
df

,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,CabinDeck,CabinSide,MoneySpent,CryoSleepValueAvail,HomePlanetValueAvail,CabinValueAvail
0,Europa,0,TRAPPIST-1e,0.493671,0,0.0,B,P,0.000000,1,1,1
1,Earth,0,TRAPPIST-1e,0.303797,0,1.0,F,S,0.020452,1,1,1
2,Europa,0,TRAPPIST-1e,0.734177,1,0.0,A,S,0.288521,1,1,1
3,Europa,0,TRAPPIST-1e,0.417722,0,0.0,A,S,0.143830,1,1,1
4,Earth,0,TRAPPIST-1e,0.202532,0,1.0,F,S,0.030317,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
12965,Earth,1,TRAPPIST-1e,0.430380,0,NaN,G,S,0.000000,1,1,1
12966,Earth,0,TRAPPIST-1e,0.531646,0,NaN,F,S,0.028288,1,1,0
12967,Mars,1,55 Cancri e,0.341772,0,NaN,D,P,0.000000,1,1,1
12968,Europa,0,TRAPPIST-1e,0.341772,0,NaN,D,P,0.089004,1,1,1
12969,Earth,1,PSO J318.5-22,0.544304,0,NaN,G,S,0.000000,1,1,1

In [1021]:
df.Transported.value_counts()

Transported
1.0    4378
0.0    4315
Name: count, dtype: int64

In [1022]:
df.columns

Index(['HomePlanet', 'CryoSleep', 'Destination', 'Age', 'VIP', 'Transported',
       'CabinDeck', 'CabinSide', 'MoneySpent', 'CryoSleepValueAvail',
       'HomePlanetValueAvail', 'CabinValueAvail'],
      dtype='object')

Converting categorical columns ['HomePlanet', 'Destination', 'CabinDeck', 'CabinSide'] into numeric data using OneHotEncoder

In [1023]:
categorical_columns = ['HomePlanet', 'Destination', 'CabinDeck', 'CabinSide']

one_hot_encoder = OneHotEncoder(sparse_output=False, drop='first')
transformer = ColumnTransformer([('one_hot', one_hot_encoder, categorical_columns)], remainder="passthrough")

transformed_array = transformer.fit_transform(df)

df_transformed = pd.DataFrame(transformed_array)

df_transformed

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.493671,0.0,0.0,0.000000,1.0,1.0,1.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.303797,0.0,1.0,0.020452,1.0,1.0,1.0
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.734177,1.0,0.0,0.288521,1.0,1.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.417722,0.0,0.0,0.143830,1.0,1.0,1.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.202532,0.0,1.0,0.030317,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12965,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.430380,0.0,NaN,0.000000,1.0,1.0,1.0
12966,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.531646,0.0,NaN,0.028288,1.0,1.0,0.0
12967,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.341772,0.0,NaN,0.000000,1.0,1.0,1.0
12968,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.341772,0.0,NaN,0.089004,1.0,1.0,1.0
12969,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.544304,0.0,NaN,0.000000,1.0,1.0,1.0

In [1031]:
len(df_train.index), len(df_test.index)

(8693, 4277)

Separating the train and test data sets according to the original size

In [1032]:
df_processed_train = df_transformed.iloc[:len(df_train.index)]
df_processed_test = df_transformed.iloc[len(df_train.index):]

len(df_processed_train.index), len(df_processed_test.index)

(8693, 4277)

In [1033]:
df_processed_train.to_csv('../data/processed/train_processed.csv', index=False)
df_processed_test.to_csv('../data/processed/test_processed.csv', index=False)